<%- include('header') -%>
    <h1 class="box" id="heading">About Us</h1>
    <p style="text-align: center;"> 
        This Website is Created by Parashuram. The intention of this website is to add on the things you want to do later. If you add the work or any kind of information here,it will store it. Later, you can check what are the taks or works you planned.
    </p>
</body>
</html>
<%- include('footer') -%>